@import "tailwindcss";

@font-face {
    font-family: 'Resagokr';
    src: url('/fonts/ResagokrLight.woff2') format('woff2'),
        url('/fonts/ResagokrLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Resagokr';
    src: url('/fonts/Resagokr.woff2') format('woff2'),
        url('/fonts/Resagokr.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Resagokr';
    src: url('/fonts/ResagokrBold.woff2') format('woff2'),
        url('/fonts/ResagokrBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@theme {
	--font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	
	/*--color-scrollbar-track: rgba();
	--color-scrollbar-thumb: rgba();*/
}

@layer base {
    html,
    body {
        @apply bg-white;

        mask-clip: view-box;

        scrollbar-width: thin;
        /*scrollbar-color: var(--color-scrollbar-thumb) var(--color-scrollbar-track);*/

        /* @media (prefers-color-scheme: dark) {
            color-scheme: dark;
        } */

        img {
            min-width: none;
            image-rendering: smooth;
        }

        /* ///// embla carousel ///// */
        .embla__viewport {
            overflow: hidden;
        }
        .embla__container {
            display: flex;
            touch-action: pan-y pinch-zoom;
        }
        .embla__slide {
            flex: 0 0 100%;
            min-width: 0;
        }
        .embla__dot {
            opacity: 0.5;
        }
        .embla__dot--selected {
            opacity: 1;
        }
    }

    .visually-hidden {
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        height: 1px;
        overflow: hidden;
        position: absolute;
        white-space: nowrap;
        width: 1px;
    }
}